<div class="accordion" id="accordionExample">
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="text-secondary btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          フォロー中
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <!--[部分テンプレート]フォロ一覧-->
        <%= render "followings", user_followings: @user_followings %>
        <div class="side-page pt-3">
          <%= paginate @user_followings, :param_name => "side_followings" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="text-secondary btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          フォロワー
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <!--[部分テンプレート]フォロワ一覧-->
        <%= render "followers", user_followers: @user_followers %>
        <div class="side-page pt-3">
          <%= paginate @user_followers, :param_name => "side_followers" %>
        </div>
      </div>
    </div>
  </div>
  
</div>