<div class="pt-3">
  <%= form_with(model:[photo, comment], local:true) do |f| %>
    <%= f.text_area :post_comment, size: "40x2", placeholder: "50文字以内のコメントを入力して下さい" %></br>
    <%= f.submit "送信", class: "btn btn-outline-primary" %>
  <% end %>
</div>