<span class="mb-2 ml-2">
  <% if user_signed_in? %>
    <% if photo.user_id == current_user.id %>
        <%= link_to edit_photo_path(photo.id), class: "btn btn-outline-primary btn-sm" do %>
          <i class="bi bi-pencil-fill"></i>
        <% end %>
    <% end %>
  <% end %>
</span>