<div>
  <i class="bi bi-balloon-heart-fill text-danger"></i>
  <span class="text-secondary"><%= photo.favorites.count %></span>
  ｜
  <i class="bi bi-chat-dots-fill text-info pr-1"></i>
  <span class="text-secondary"><%= photo.comments.count %></span>
</div>