<div>
  <i class="bi bi-balloon-heart-fill color-like"></i>
  <span class="text-secondary"><%= photo.favorites.count %></span>
  ｜
  <i class="bi bi-chat-dots-fill color-commment pr-1"></i
  <span class="text-secondary"><%= photo.comments.count %></span>
</div>