<div class="d-inline h2 pl-4">
  <!--ログインユーザのみいいねボタン押下可能-->
  <% if user_signed_in? %>
    <!--ログインしているユーザーが含まれているか判断-->
    <% if photo.favorited_by?(current_user) %>
      <%= link_to photo_favorites_path(photo), method: :delete do %>
        <i class="bi bi-heart-fill text-danger"></i>
      <% end %>
    <% else %>
      <%= link_to photo_favorites_path(photo), method: :post do %>
        <i class="bi bi-heart text-danger"></i>
      <% end %>
    <% end %>
  <% else %>
    <i class="bi bi-heart text-danger"></i>
  <% end %>
</div>