<% flash.each do |key, value| %>
   <% if key != "alert" && key != "notice" %>
      <p class="alert alert-<%= key %> text-center">
        <%= value %>
      </p>
   <% elsif key == "notice" %>
      <p class="alert alert-info text-center">
        <%= value %>
      </p>
   <% else %>
      <p class="alert alert-warning text-center">
        <%= value %>
      </p>
   <% end %>
<% end %>
<!--:success, :info, :warning, :danger-->

