<footer>
  <div class="container">
  	<div class="row my-5">
    	<div class="col-12 text-center">
    		<p><small>&copy; 2022 PhotoShared(Ver:1.01) </small></p>
    	</div>
    </div>
  </div>
</footer>